.header {
  width: 94%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  margin: 3%;
  padding: 0 0.7rem;
  border-radius: 10px;
  z-index: 5;
}

@media (min-width: 40rem) {
  .header {
    width: 98%;
    margin: 1%;
    justify-content: center;
  }
}
