.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.links li {
  margin: 1rem 0;
}

.links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

@media (min-width: 40rem) {
  .links {
    flex-direction: row;
    justify-content: flex-end;
  }

  .links li {
    margin: 0 0.8rem;
  }

  .links a:hover {
    color: #eff30cf6;
  }
}
