.movie {
    display: inline-block;
    color: rgb(124, 81, 0);
}

.movie h5 {
    color: rgb(52, 161, 154);
}

.movie img {
    height: 100px;
    width: 100px;
    border-radius: 20%;
}

.movie--review {
    font-family: monospace;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.movie--rating {
    padding-top: 1rem;
    padding-right: 3rem;
    padding-left: 9rem;
    padding-bottom: 1rem;
}

.movie--buttons {
    margin: 1rem 1rem 1rem 1rem;
}

@media (max-width: 768px){
    .movie--review {
        padding-right: 0rem;
        padding-left: 2.5rem;
    }

    .movie--buttons {
        margin: 0.5rem -0.5rem 0.5rem -0.5rem;
    }

    .movie--rating {
        padding-top: 1rem;
        padding-right: 3rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
}